In [1]:
import pandas as pd
import math
from datetime import datetime

In [17]:
data = pd.read_csv('data.csv', sep=';')
#data.REPORTDATE = 
# Прологорифмируем объемы
#data.VALUE = math.log(data.VALUE)
for i in range(len(data.REPORTDATE)):
    data.REPORTDATE[i] = datetime.strptime(data.REPORTDATE[i], "%d.%m.%Y")
data

<ipython-input-17-b55e2ae25509>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.REPORTDATE[i] = datetime.strptime(data.REPORTDATE[i], "%d.%m.%Y")

               REPORTDATE        VALUE
0     2013-12-30 00:00:00   3457625638
1     2013-12-31 00:00:00   3417092149
2     2014-01-01 00:00:00   3417092149
3     2014-01-02 00:00:00   3417092149
4     2014-01-03 00:00:00   3417092149
...                   ...          ...
2106  2019-10-06 00:00:00  64630140507
2107  2019-10-07 00:00:00  66115288637
2108  2019-10-08 00:00:00  68424049766
2109  2019-10-09 00:00:00  72492897583
2110  2019-10-10 00:00:00  72307860851

[2111 rows x 2 columns]

In [ ]:
def StableOnDate(report_date, data):
    h = 366
    t = report_date + range(-h, 365)
    df = data[data.REPORTDATE > report_date - h and data.REPORTDATE <= report_date]
    y = df.VALUE
    my = mean(y)
    sdy = sd(y)
    y = (y - my) / sdy
    x_and_predict = 1
    L = len(x_and_predict)
    
    def trend(x, y):
        return 1/(x + 365) * 1 / (y + 365)
    def seasonRBF