In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
from prophet import Prophet
from sklearn.metrics import mean_absolute_error

In [3]:
data = pd.read_csv('data.csv', sep=';')
data = data.rename(columns={'REPORTDATE': 'ds', 'VALUE': 'y'})
data

              ds            y
0     30.12.2013   3457625638
1     31.12.2013   3417092149
2     01.01.2014   3417092149
3     02.01.2014   3417092149
4     03.01.2014   3417092149
...          ...          ...
2106  06.10.2019  64630140507
2107  07.10.2019  66115288637
2108  08.10.2019  68424049766
2109  09.10.2019  72492897583
2110  10.10.2019  72307860851

[2111 rows x 2 columns]

## Prophet model

In [4]:
prophet_data = pd.DataFrame(data.ds)
for i in range(data.shape[0]):
    prophet_data['ds'] = datetime.strptime(str(data.ds[i]), '%d.%m.%Y')
prophet_data['y'] = data.y
prophet_data.head()

          ds           y
0 2019-10-10  3457625638
1 2019-10-10  3417092149
2 2019-10-10  3417092149
3 2019-10-10  3417092149
4 2019-10-10  3417092149

In [14]:
model = Prophet(daily_seasonality=True, n_changepoints=10)
model.fit(data)
future = model.make_future_dataframe(periods=10)
forecast = model.predict(future)
mean_absolute_error(prophet_data.y, forecast.trend[:data.shape[0]])

3475401702.5263596

In [49]:
Prophet?

So, let's make model better.

#### for i in range(1, 50):
    model = Prophet(daily_seasonality=True, n_changepoints=i)
    model.fit(data)
    future = model.make_future_dataframe(periods=10)
    forecast = model.predict(future)
    print('n_changepoints = {}, MAE = {}'.format(i, mean_absolute_error(prophet_data.y, forecast.trend[:data.shape[0]])))

    -----> n_changepoints = 9

In [33]:
model = Prophet(daily_seasonality=True, n_changepoints=8, changepoint_range=.7)
model.fit(data)
future = model.make_future_dataframe(periods=10)
forecast = model.predict(future)
mean_absolute_error(prophet_data.y, forecast.trend[:data.shape[0]])

3258918476.9964643

-----> changepoint_range=.7

k = 0.1
#### while (k != 0.9):
    for i in range(1, 25):
        model = Prophet(daily_seasonality=True, n_changepoints=i)
        model.fit(data)
        future = model.make_future_dataframe(periods=10)
        forecast = model.predict(future)
        print('n_changepoints = {}, changepoint_range = {}, MAE = {}'.format(i, k, mean_absolute_error(prophet_data.y, forecast.trend[:data.shape[0]])))
    k+=0.1

### To control the date - change the 'periods'

In [63]:
model = Prophet(daily_seasonality=True, n_changepoints=8, changepoint_range=.7)
model.fit(data)
future = model.make_future_dataframe(periods=10)
forecast = model.predict(future)
mean_absolute_error(prophet_data.y, forecast.trend[:data.shape[0]])
predictions = forecast.trend[data.shape[0]:]
predictions

2111    7.246275e+10
2112    7.250728e+10
2113    7.255182e+10
2114    7.259636e+10
2115    7.264089e+10
2116    7.268543e+10
2117    7.272996e+10
2118    7.277450e+10
2119    7.281904e+10
2120    7.286357e+10
Name: trend, dtype: float64